<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<NavLink class="nav-link" href="/laptopform">
    Ingresar Laptop
</NavLink>
<NavLink class="nav-link" href="/smartphoneform">
    Ingresar Smartphone
</NavLink>
<NavLink class="nav-link" href="/tabletform">
    Ingresar Tablet
</NavLink>
<NavLink class="nav-link" href="/dispositivolist">
    Listar Dispositivos
</NavLink>
